@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root {
    --clr-black-default: #000;
    --clr-black: #263238;
    --clr-gray: #8F95A5;
}
* {
    color: var(--clr-black-default);
    font-family: 'Poppins';
    box-sizing: border-box;
}
a {
    color: var(--clr-black);
    text-decoration: none;
}
.btn-outline-secondary {
    color: var(--clr-black-default);
    border: 2px solid var(--clr-black);
    height: 7vh;
}
.w-90 {
    width: 90%;
}
.btn.btn-dark {
    background-color: #263238;
}
.form-control.rounded-3.ps-5,
p {
    color: var(--clr-gray);
}
.section-1.d-flex .card {
    background: #F5F5F5;
}
.ms-10 {
    margin-left: 7rem;
}
.pos-relative {
    position: relative;
}
.pos-absolute {
    position: absolute;
}
.gap-10 {
    gap: 6rem;
}
.vh-90 {
    height: 90vh;
}
.btn-gray {
    background-color: #EEEEEE;
}
.vh-5 {
    height: 5vh;
}
section:first-child .card {
    background-color: #F5F5F5;
}
@media (max-width: 1284px) {
    button.fs-3 {
        font-size: 1.25rem !important;
    }
    .btn-outline-secondary {
        height: 5vh;
    }
}
@media (max-width: 992px) {
    a.fs-4 {
        font-size: 1rem !important;
    }
    button.fs-3 {
        font-size: .8rem !important;
    }
}